<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ZX81 Emulator in Typescript</title>
    <meta name="description" content="A ZX81 Emulator written in Typescript">
    <meta name="keywords" content="ZX81,Emulator,Typescript">
    <meta name="author" content="Sebastien Andrivet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--[if lt IE 11]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container">

    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h3>ZX81 Emulator <small class="text-muted">written in Typescript</small></h3>
            <canvas id="canvas" class="img-fluid img-thumbnail"></canvas><br/>
            <input id="program" style="visibility:hidden" value="PROGS/FACTORY.P"/>
            <input id="keyboardInput" style="width:10px; visibility: hidden; opacity: 0" />
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div id="status" class="alert alert-success" role="alert"></div>
        </div>
    </div>

</div>
</body>
</html>
