<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ZX81 Emulator in Typescript</title>
    <meta name="description" content="A ZX81 Emulator written in Typescript">
    <meta name="keywords" content="ZX81,Emulator,Typescript">
    <meta name="author" content="Sebastien Andrivet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div class="row justify-content-center mt-4">
        <div class="col-12 text-center">
            <h3>ZX81 Emulator <small class="text-muted">written in Typescript - version <span id="version"></span></small></h3>
            <h6>Use Q and A keys to move the left character, P and L to move the right one, and J to abandon.</h6>
            <canvas id="canvas" class="img-fluid border border-dark rounded"></canvas>
        </div>
    </div>

    <div class="row justify-content-center mt-2">
        <div class="col-12 text-center">
            <div id="status" class="alert alert-success" role="alert"></div>
        </div>
    </div>

    <div class="row justify-content-center mt-2">
        <div class="col-12 text-center">
            <h6>Emulator copyright &copy; 2017-2023, Game copyright &copy; 1984-2023 <a href="https://twitter.com/AndrivetSeb" target="_blank">Sebastien Andrivet.</a></h6>
            <p class="text-muted">Released under GPLv3 license. Code available on <a href="https://github.com/andrivet/zx81-typescript-emulator" target="_blank">GitHub</a>.</p>
            <input id="program" style="width:1px; height:1px; visibility:hidden; opacity: 0" value="PROGS/factory2023.P"/>
            <input id="rom" style="width:1px; height:1px; visibility:hidden; opacity: 0" value="./ROM/ZX81.rom"/>
            <input id="scale" style="width:1px; height:1px; visibility:hidden; opacity: 0" value="3"/>
            <input id="keyboardInput" style="width:1px; height:1px; visibility: hidden; opacity: 0" />
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
